<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cart</servlet-name>
        <servlet-class>cart</servlet-class>
        <init-param>
            <param-name>BELL_PEPPER</param-name>
            <param-value>80</param-value>
        </init-param>
        <init-param>
            <param-name>STRAWBERRY</param-name>
            <param-value>120</param-value>
        </init-param>
        <init-param>
            <param-name>CARROTS</param-name>
            <param-value>53</param-value>
        </init-param>
        <init-param>
            <param-name>GREEN_BEANS</param-name>
            <param-value>110</param-value>
        </init-param>
        <init-param>
            <param-name>PURPLE_CABBAGE</param-name>
            <param-value>70</param-value>
        </init-param>
        <init-param>
            <param-name>TOMATOE</param-name>
            <param-value>80</param-value>
        </init-param>
        <init-param>
            <param-name>BROCOLLI</param-name>
            <param-value>73</param-value>
        </init-param>
        <init-param>
            <param-name>FRUIT_JUICE</param-name>
            <param-value>40</param-value>
        </init-param>
        <init-param>
            <param-name>ONION</param-name>
            <param-value>80</param-value>
        </init-param>
        <init-param>
            <param-name>APPLE</param-name>
            <param-value>90</param-value>
        </init-param>
        <init-param>
            <param-name>GARLIC</param-name>
            <param-value>70</param-value>
        </init-param>
        <init-param>
            <param-name>CHILLI</param-name>
            <param-value>140</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>RemoveItem</servlet-name>
        <servlet-class>RemoveItem</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/atc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cart</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveItem</servlet-name>
        <url-pattern>/removeItem</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
 
</web-app>
